<footer id="contact" class="footer bg-black">
  <div class="grid">
    <div>
      <a class="footer__contact" href="mailto:ramadhancunbert@gmail.com">Let’s talk</a>
    </div>
  </div>
  <ul class="footer__list">
    <li><a class="footer__link" href="https://twitter.com/dr_styls" target="_blank">Twitter</a></li>
    <li><a class="footer__link" href="https://instagram.com/dr_styls" target="_blank">Instagram</a></li>
    <li><a class="footer__link" href="https://github.com/drstyls" target="_blank">Github</a></li>
  </ul>
</footer>
